* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
}

.about_section {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: space-between;
  column-gap: 15rem;
  align-items: center;
  background-color: #0e0f0f;
  padding: 10rem 20rem;
  margin: 0 auto;
}
.about_section_img {
  margin-top: rem;
  background-image: url(/img/Phone\ Finder.png);
  background-position: center;
  background-size: cover;
  width: 80rem;
  height: 50rem;
}

.header {
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-image: url("/img/headerbackground.png");
  background-position: center;
  background-size: cover;
  padding: 2rem 10rem;
}
.header_logo {
  font-size: 3rem;
  font-weight: 600;
  color: #fff;
}
.header__1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_list {
  list-style: none;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  column-gap: 2rem;
}
.header_list a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.header_about {
  margin: 20rem 40rem;
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  align-items: center;
}

.header_color {
  background-color: black;
  padding: 1rem 3rem;
}

.header_list__1 {
  position: relative;
}
.header_list__1 i {
  position: absolute;
  top: 0.8rem;
  font-size: 2rem;
  left: 1rem;
  color: white;
}
.header_list__1 input {
  height: 3rem;
  background-color: grey;
  color: white;
  border-radius: 20px;
  border: none;
}

.log_in__1 {
  border: 2px solid #fff;
  padding: 0.8rem 1.5rem;
  border-radius: 20px;
  position: relative;
}

.log_in__2 {
  border: 2px solid black;
  padding: 0.8rem 1.5rem;
  border-radius: 20px;
  background-color: white;
  position: relative;
}

#color_black {
  color: black;
}

.header_about_button {
  display: flex;
  column-gap: 5rem;
  font-size: 1.6rem;
}
.header_about_button--1 {
  text-decoration: none;
  color: white;
  border: 1.5px solid #fff;
  padding: 8px 2rem;
  border-radius: 20px;
  position: relative;
}
.header_about_button--1__1 {
  background-image: linear-gradient(to right, #2d9bef, #9b2def);
}
.header_about_button--1__1:hover::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #2d9bef, #35edfb);
  animation-name: btn_hover;
  animation-duration: 1s;
}
.header_about_button--1__2:hover::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #2d9bef, #35edfb);
  animation-name: btn_hover;
  animation-duration: 1s;
}

.header_list_a {
  border-radius: 20px;
  border: 2px solid #9b2def;
  padding: 0.5rem 1rem;
  position: relative;
}

.footer_box_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 40vh;
  padding: 0 10rem;
}

.footer_logo {
  color: white;
  font-size: 2.4rem;
  transform: translateY(-70px);
}

.footer_box {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}
.footer_box_name {
  color: white;
  font-size: 2rem;
}
.footer_box a {
  text-decoration: none;
  font-size: 1.4rem;
  color: grey;
}

.flex {
  display: flex;
  flex-direction: row;
  column-gap: 1.5rem;
  transform: translateY(-60px);
}

.footer_box_2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 10rem;
  background-color: black;
}
.footer_box_2 select {
  background-color: grey;
}

.footer_box_3 {
  display: flex;
  column-gap: 2.5rem;
  font-size: 1.6rem;
}
.footer_box_3 a {
  text-decoration: none;
  color: grey;
}

.header_about_name {
  text-align: center;
  width: 100%;
  font-size: 5.6rem;
  color: white;
  line-height: 1.4;
}

.button_about {
  font-size: 1.6rem;
  color: #fff;
}
.button_about span {
  color: #2d9bef;
}

.about_section_1 {
  color: white;
}
.about_section_1_name {
  font-size: 4.4rem;
  margin-bottom: 1rem;
}
.about_section_1_about {
  font-size: 1.8rem;
  width: 60%;
  line-height: 1.8;
  color: grey;
}

.listen_section_name {
  font-size: 4.4rem;
  color: #fff;
}

.listen_section_about {
  font-size: 1.8rem;
  margin-top: 2rem;
  width: 50%;
  letter-spacing: 3px;
  line-height: 1.7;
  color: white;
}

.search_section_name {
  font-size: 3rem;
  color: white;
}

.search_section_about {
  margin-top: 2rem;
  font-size: 1.8rem;
  color: grey;
  width: 100%;
  line-height: 1.8;
}
.search_section_about span {
  color: #2d9bef;
}

.premium_section_name {
  text-align: center;
  color: #fff;
  font-size: 5rem;
}

.section_card_name {
  font-size: 2rem;
  color: white;
  text-align: center;
  margin-top: 1rem;
}

.section_card_about {
  font-size: 1.4rem;
  text-transform: capitalize;
  margin-top: 1rem;
  text-align: center;
  color: #fff;
}

.listen_free {
  text-align: center;
  font-size: 1.8rem;
  color: grey;
}

.listen_section {
  width: 100%;
  height: 60vh;
  background-image: url("/Listen anytime, anywhere.png");
  background-position: center;
  background-size: cover;
  padding: 20rem;
}

.search_section {
  width: 100%;
  height: 100vh;
  background-color: #161a1a;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15rem 20rem;
}
.search_section img {
  width: 60%;
}

.premium_section {
  width: 100%;
  background-color: #161a1a;
  padding: 15rem;
}

.section_card {
  margin-top: 10rem;
  padding: 0 15rem;
  display: flex;
  justify-content: space-between;
}

.section_card__1 {
  text-align: center;
}

.section_premium_card {
  margin-top: 10rem;
}

.premium_card--1 {
  display: inline-block;
  width: 30rem;
  border: 2px solid white;
  padding: 3.5rem 2rem;
  margin-top: 5rem;
  margin-left: 20rem;
}

.premuim_card--1__1 {
  color: white;
  font-size: 3rem;
}

.premium--1__2 {
  color: white;
  font-size: 1.6rem;
}
.premium--1__2 span {
  font-size: 3rem;
}

.premuim_list {
  margin-top: 3rem;
}
.premuim_list li {
  font-size: 1.6rem;
  list-style: none;
  color: white;
}
.premuim_list li:not(:last-child) {
  margin-bottom: 2rem;
}

.premium_a {
  transform: translate(10rem, 30rem);
}

.color {
  color: #2d9bef;
}

.outline_color {
  border-top: 5px solid #2d9bef;
  border-bottom: 5px solid #9b2def;
  background-image: linear-gradient(#2d9bef, #9b2def), linear-gradient(#9b2def, #2d9bef);
  background-size: 5px 100%;
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat;
}

@keyframes btn_hover {
  50% {
    opacity: 0;
  }
  100% {
    transform: scale(1.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
.flow_card {
  margin-top: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 2rem;
}

.flow_section {
  padding: 5rem 10rem;
  background-color: black;
  height: 60rem;
}
.flow_section_name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 3rem;
}

.flow_card--1 {
  width: 45rem;
  height: 30rem;
  padding: 10rem;
  position: relative;
  background-image: url("/img/flow_section/IMG BG.png");
  background-position: center;
  background-size: cover;
}
.flow_card--1__1 {
  filter: blur(0);
  background-image: url(/img/flow_section/Image\ -57.png);
  width: 20rem;
  height: 20rem;
  background-position: center;
  background-size: cover;
  position: relative;
  top: -5rem;
  left: -7rem;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  z-index: 10;
}
.flow_card--1__1__1 {
  font-size: 6rem;
  position: absolute;
  bottom: -15%;
  left: 35%;
}
.flow_card--1__2 {
  background-image: url("/img/flow_section/Flow Body.png");
  height: 100%;
  width: 45rem;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.flow_card--1 .flow_card_about {
  font-size: 1.6rem;
  color: white;
  position: absolute;
  bottom: 12rem;
  right: 1rem;
}
.flow_card--1 .flow_card_about__1 {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  font-size: 1.4rem;
  color: white;
}

.color_flow {
  background-image: url("/img/flow_section/BG + bg blur 1.png");
}
.color_flow--1 {
  background-image: url("/img/flow_section/BG + bg blur -1.png");
}

/*# sourceMappingURL=style.css.map */
