* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
}

.about_section {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: space-between;
  column-gap: 15rem;
  align-items: center;
  background-color: #0e0f0f;
  padding: 10rem 20rem;
  margin: 0 auto;
}
.about_section_img {
  margin-top: rem;
  background-image: url(/img/Phone\ Finder.png);
  background-position: center;
  background-size: cover;
  width: 80rem;
  height: 50rem;
}

.header {
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-image: url("/img/headerbackground.png");
  background-position: center;
  background-size: cover;
  padding: 2rem 10rem;
}
.header_logo {
  font-size: 3rem;
  font-weight: 600;
  color: #fff;
}
.header__1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_list {
  list-style: none;
  font-size: 1.6rem;
  display: flex;
  column-gap: 2rem;
}
.header_list a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.header_about {
  margin: 20rem 40rem;
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  align-items: center;
}

.log_in__1 {
  border: 2px solid #fff;
  padding: 0.8rem 1.5rem;
  border-radius: 20px;
}

.log_in__2 {
  border: 2px solid black;
  padding: 0.8rem 1.5rem;
  border-radius: 20px;
  background-color: white;
}

#color_black {
  color: black;
}

.header_about_button {
  display: flex;
  column-gap: 5rem;
  font-size: 1.6rem;
}
.header_about_button--1 {
  text-decoration: none;
  color: white;
  border: 1.5px solid #fff;
  padding: 8px 2rem;
  border-radius: 20px;
}
.header_about_button--1__1 {
  background-image: linear-gradient(to right, #2d9bef, #9b2def);
}

.footer_box_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 40vh;
  padding: 0 10rem;
}

.footer_logo {
  color: white;
  font-size: 2.4rem;
  transform: translateY(-70px);
}

.footer_box {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}
.footer_box_name {
  color: white;
  font-size: 2rem;
}
.footer_box a {
  text-decoration: none;
  font-size: 1.4rem;
  color: grey;
}

.flex {
  display: flex;
  flex-direction: row;
  column-gap: 1.5rem;
  transform: translateY(-60px);
}

.footer_box_2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 10rem;
  background-color: black;
}
.footer_box_2 select {
  background-color: grey;
}

.footer_box_3 {
  display: flex;
  column-gap: 2.5rem;
  font-size: 1.6rem;
}
.footer_box_3 a {
  text-decoration: none;
  color: grey;
}

.header_about_name {
  text-align: center;
  width: 100%;
  font-size: 5.6rem;
  color: white;
  line-height: 1.4;
}

.button_about {
  font-size: 1.6rem;
  color: #fff;
}
.button_about span {
  color: #2d9bef;
}

.about_section_1 {
  color: white;
}
.about_section_1_name {
  font-size: 4.4rem;
  margin-bottom: 1rem;
}
.about_section_1_about {
  font-size: 1.8rem;
  width: 60%;
  line-height: 1.8;
  color: grey;
}

.listen_section_name {
  font-size: 4.4rem;
  color: #fff;
}

.listen_section_about {
  font-size: 1.8rem;
  margin-top: 2rem;
  width: 50%;
  letter-spacing: 3px;
  line-height: 1.7;
  color: white;
}

.search_section_name {
  font-size: 3rem;
  color: white;
}

.search_section_about {
  margin-top: 2rem;
  font-size: 1.8rem;
  color: grey;
  width: 100%;
  line-height: 1.8;
}
.search_section_about span {
  color: #2d9bef;
}

.premium_section_name {
  text-align: center;
  color: #fff;
  font-size: 5rem;
}

.section_card_name {
  font-size: 2rem;
  color: white;
  text-align: center;
  margin-top: 1rem;
}

.section_card_about {
  font-size: 1.4rem;
  text-transform: capitalize;
  margin-top: 1rem;
  text-align: center;
  color: #fff;
}

.listen_free {
  text-align: center;
  font-size: 1.8rem;
  color: grey;
}

.listen_section {
  width: 100%;
  height: 60vh;
  background-image: url("/Listen anytime, anywhere.png");
  background-position: center;
  background-size: cover;
  padding: 20rem;
}

.search_section {
  width: 100%;
  height: 100vh;
  background-color: #161a1a;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15rem 20rem;
}
.search_section img {
  width: 60%;
}

.premium_section {
  width: 100%;
  background-color: #161a1a;
  padding: 15rem;
}

.section_card {
  margin-top: 10rem;
  padding: 0 15rem;
  display: flex;
  justify-content: space-between;
}

.section_card__1 {
  text-align: center;
}

.section_premium_card {
  margin-top: 10rem;
}

.premium_card--1 {
  display: inline-block;
  width: 30rem;
  border: 2px solid white;
  padding: 3.5rem 2rem;
  margin-top: 5rem;
  margin-left: 20rem;
}

.premuim_card--1__1 {
  color: white;
  font-size: 3rem;
}

.premium--1__2 {
  color: white;
  font-size: 1.6rem;
}
.premium--1__2 span {
  font-size: 3rem;
}

.premuim_list {
  margin-top: 3rem;
}
.premuim_list li {
  font-size: 1.6rem;
  list-style: none;
  color: white;
}
.premuim_list li:not(:last-child) {
  margin-bottom: 2rem;
}

.premium_a {
  transform: translate(10rem, 30rem);
}

.color {
  color: #2d9bef;
}

.color_1 {
  border: 2px solid #2d9bef;
}

/*# sourceMappingURL=style.css.map */
