.header {
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-image: url("/img/headerbackground.png");
  background-position: center;
  background-size: cover;

  padding: 2rem 10rem;
  &_logo {
    font-size: 3rem;
    font-weight: 600;
    color: $color_white;
  }
  &__1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_list {
    list-style: none;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    column-gap: 2rem;
    a {
      text-decoration: none;
      color: white;
      font-weight: 600;
    }
  }
}
.header_about {
  margin: 20rem 40rem;
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  align-items: center;
}
.header_color {
  background-color: black;
  padding: 1rem 3rem;
}
.header_list__1 {
  position: relative;
  i {
    position: absolute;
    top: 0.8rem;
    font-size: 2rem;
    left: 1rem;
    color: white;
  }
  input {
    height: 3rem;
    background-color: grey;
    color: white;
    border-radius: 20px;
    border: none;
  }
}
