.header {
  // width: 100vw;
  height: 100vh;
  background-color: black;
  background-image: url("/img/headerbackground.png");
  background-position: center;

  background-size: cover;
  @include responsive(big) {
    height: auto;
  }
  @include responsive(tab_land) {
    text-align: center;
  }
  @include responsive(phone) {
    height: auto;
  }
  padding: 2rem 10rem;
  &_logo {
    font-size: 3rem;
    font-weight: 600;
    color: $color_white;
  }
  &__1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_list {
    list-style: none;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    column-gap: 2rem;
    @include responsive(phone) {
      display: none;
    }

    a {
      text-decoration: none;
      color: white;
      font-weight: 600;
      transition: all 0.5s;
      &:hover {
        display: inline-block;
        background-image: linear-gradient(to right, #2d9bef, #35edfb, #9b2def);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        transform: scale(1.05);
      }
    }
  }
}
.header_about {
  margin: 15rem 30rem;
  @include responsive(big) {
    margin: 20rem 40rem;
  }
  @include responsive(tab_land) {
    margin: 10rem 25rem;
  }
  @include responsive(portrait) {
    margin: 7rem 20rem;
  }

  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  align-items: center;
}
.header_color {
  padding: 1rem 3rem;
  backdrop-filter: blur(5px);
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
}
.header_list__1 {
  position: relative;
  i {
    position: absolute;
    top: 0.8rem;
    font-size: 2rem;
    left: 1rem;
    color: white;
  }
  input {
    height: 3rem;
    background-color: grey;
    color: white;
    border-radius: 20px;
    border: none;
  }
}
