.burger_menu {
  padding: 5rem;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.822);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0;
  visibility: hidden;

  &__1 {
    position: absolute;
    top: 3rem;
    right: 4rem;
    transform: scale(4);
    color: white;
  }
}
.checkbox_11:checked ~ .burger_menu #header_list {
  opacity: 1;
  visibility: visible;
  transform: scale(1.2);
}
.checkbox_11:checked ~ .burger_menu {
  opacity: 1;
  visibility: visible;
}
#header_list {
  opacity: 0;
  visibility: hidden;
  margin-top: 20rem;
  display: flex;
  flex-direction: column;
  transition: all 2s cubic-bezier(0.09, 1.43, 1, -0.13);
  li {
    margin-bottom: 6rem;
  }
}
