.log_in__1 {
  border: 2px solid $color_white;
  padding: 0.8rem 1.5rem;
  border-radius: 20px;
}
.log_in__2 {
  border: 2px solid black;
  padding: 0.8rem 1.5rem;
  border-radius: 20px;
  background-color: white;
}
#color_black {
  color: black;
}
.header_about_button {
  display: flex;
  column-gap: 5rem;
  font-size: 1.6rem;
  &--1 {
    text-decoration: none;
    color: white;
    border: 1.5px solid $color_white;
    padding: 8px 2rem;
    border-radius: 20px;
    &__1 {
      background-image: linear-gradient(to right, $color_blue__1, $color_pink);
    }
  }
}
