.popup_main {
  display: flex;
  justify-content: right;
  padding: 5rem 0;
}
.popup {
  background-color: gray;
  width: 43rem;
  padding: 2rem 3rem;
  &--menu {
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    font-size: 1.6rem;
    text-transform: capitalize;
  }
  &_music {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    &_img {
      display: flex;
      column-gap: 3rem;
    }
  }
  &_text {
    h4 {
      color: rgb(21, 138, 216);
      font-size: 1.6rem;
    }
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    font-size: 1.4rem;
    color: white;
  }

  &_icon {
    display: flex;
    column-gap: 3rem;
    font-size: 1.5rem;
  }
  &_menu__1 {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      font-size: 1.6rem;
    }
    a {
      font-size: 1.5rem;
      text-decoration: none;
      color: white;
      padding: 0.5rem 1rem;
      border: 2px solid white;
      border-radius: 20px;
    }
  }
}
