.margin_bottom {
  margin-top: -18rem;
}
.episod_section {
  background-color: black;
  padding: 0 10rem;
  &__1 {
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_name__1 {
    font-size: 1.4rem;
    font-weight: 500;
    color: #f7f7f7;
  }
  &_card {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 3rem;

    &__text {
      color: white;
      h3 {
        margin-top: -2rem;
        font-size: 1.4rem;
      }
      p {
        margin-top: 2rem;
        font-size: 1.4rem;
      }
    }
  }
}
.episod_section_card__1 {
  display: flex;
  column-gap: 2rem;
  align-items: center;
}
.genre_section_1 {
  padding: 10rem 10rem;
  background-color: black;
}
.section_title {
  padding: 0 15rem;
  background-color: black;
  color: white;
  &_1 {
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    i {
      font-size: 1.8rem;
    }
  }
  &_name {
    padding: 0.8rem;
    border-bottom: 3px solid white;
  }
  &_table {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: grey;
    &:hover {
      background-color: rgba(255, 255, 255, 0.293);
    }
  }
}
.title_group {
  text-transform: uppercase;
  display: flex;
  gap: 10rem;
}
