.header_about_name {
  text-align: center;
  width: 100%;
  font-size: 5.6rem;
  color: white;
  line-height: 1.4;
}
.button_about {
  font-size: 1.6rem;
  color: $color_white;
  span {
    color: $color_blue__1;
  }
}
.about_section_1 {
  color: white;
  &_name {
    font-size: 4.4rem;
    margin-bottom: 1rem;
  }
  &_about {
    font-size: 1.8rem;
    width: 60%;
    line-height: 1.8;
    color: grey;
  }
}
