.header_about_name {
  text-align: center;
  width: 100%;
  font-size: 5.6rem;
  color: white;
  line-height: 1.4;
  @include responsive(big) {
    font-size: 6rem;
  }
  @include responsive(tab_land) {
    font-size: 3.5rem;
  }
  @include responsive(phone) {
    font-size: 2rem;
    width: 50vw;
    line-height: 1.6;
    margin-left: -15rem;
  }
}
.button_about {
  font-size: 1.6rem;
  color: $color_white;
  @include responsive(phone) {
    width: 50vw;
    line-height: 1.8;
    margin-left: -12rem;
  }
  span {
    color: $color_blue__1;
  }
}
.about_section_1 {
  color: white;
  &_name {
    font-size: 4.4rem;
    margin-bottom: 1rem;
  }
  &_about {
    font-size: 1.8rem;
    width: 60%;
    line-height: 1.8;
    color: grey;
    @include responsive(phone) {
      width: 150%;
    }
  }
}
.listen_section_name {
  font-size: 4.4rem;
  color: $color_white;
  @include responsive(phone) {
    font-size: 1.4rem;
    width: 30rem;
    margin-left: -12rem;
  }
}
.listen_section_about {
  font-size: 1.8rem;
  margin-top: 2rem;
  width: 50%;
  letter-spacing: 3px;
  line-height: 1.7;
  color: white;
  @include responsive(phone) {
    font-size: 1.4rem;
    width: 30rem;
    margin-left: -12rem;
  }
}
.search_section_name {
  font-size: 3rem;
  color: white;
}
.search_section_about {
  margin-top: 2rem;
  font-size: 1.8rem;
  color: grey;
  width: 100%;
  line-height: 1.8;
  @include responsive(portrait) {
    font-size: 1.4rem;
    line-height: 1.6;
  }
  span {
    color: $color_blue__1;
  }
}
.premium_section_name {
  text-align: center;
  color: $color_white;
  font-size: 5rem;
  &:hover {
    transform: skewY(5deg) skewX(10deg);
    cursor: pointer;
  }
}
.section_card_name {
  font-size: 2rem;
  color: white;
  text-align: center;
  margin-top: 1rem;
}
.section_card_about {
  font-size: 1.4rem;
  text-transform: capitalize;
  margin-top: 1rem;
  text-align: center;
  color: $color_white;
}
.listen_free {
  text-align: center;
  font-size: 1.8rem;
  color: grey;
}
